@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

.circle {
	background-color: rgb(231,204,167);
	border-radius: 25px;
	animation: pulse-red 2s infinite;
	height: 50px;
	width: 50px;
}


@keyframes pulse-red {
	0% {
		transform: scale(0.9);
		box-shadow: 0 0 0 0 rgba(231,204,167, 0.7);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
	}
	
	100% {
		transform: scale(0.9);
		box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
	}
}


@media screen and (max-width: 480px) {

	.social-panel-container.visible {
		transform: translateX(0px);
	}
	
	.floating-btn {
		right: 10px;
	}
}