@import '../../../styles/variables.scss';

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.header {
    font-family: 'Noto';
    font-style: normal;
    font-weight: 300;
    color: $font;
    font-size: 52px;
    line-height: 71px;
    margin: 0 0 13px 13px;
    margin-bottom: 13px;
}
.subtitle {
    font-family: 'AngelaWhite';
    color: $font;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 41px;
    align-items: center;
    justify-content: center;
    display: flex;
}